
 .layout {
  display: flex;
}

/* right section start after sidebar */
.right-section {
  margin-left: 240px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
}

/* content starts after topbar */
.content,
.outlet {
  margin-top: 64px; /* topbar height */
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: auto;   /* 🔥 ONLY CONTENT SCROLLS */
  background: #f8fafc;
}
