.admin-img{
    border-radius: 50%;
    height: 50px;
}

/* .top-bar{
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

.topbar{
    background: #f8fafc; */
    /* position: fixed;
    width: 100%; */
    /* padding-left: 200px; */
  /* } */


  .topbar {
  position: fixed;
  top: 0;
  left: 240px; /* sidebar width */
  right: 0;
  height: 62px;
  background: #f8fafc;
  z-index: 99;
  border-bottom: 1px solid #e5e7eb;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* height: 100%; */
}
