
.admin-img {
  border-radius: 50%;
  border: 1px solid rgb(98, 177, 214);
  height: 44px;
  cursor: pointer;
}

.topbar {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 62px;
  background: #f8fafc;
  z-index: 99;
  border-bottom: 1px solid #e5e7eb;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.profile-wrapper {
  position: relative;
}

/* Dropdown */
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 56px;
  width: 240px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  padding: 14px;
  animation: fadeIn 0.15s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile-info img {
  height: 42px;
  border-radius: 50%;
}

.profile-info h4 {
  margin: 0;
  font-size: 15px;
}

.profile-info p {
  margin: 0;
  font-size: 13px;
  color: #64748b;
}

.profile-dropdown hr {
  margin: 12px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.logout-btn {
  width: 100%;
  border: none;
  background: #f1f5f9;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.logout-btn:hover {
  background: #e2e8f0;
}











.top-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .topbar {
    left: 0; /* sidebar nahi hai mobile me */
  }
}
