.products-page {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.edit-btn {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  color: black;
  border: 1px solid black;
  padding: 6px;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  /* opacity: 0.9; */
}

.delete-btn {
  height: 40px;
  width: 50px;
  border-radius: 8px;
  color: black;
  border: 1px solid black;
  padding: 6px;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

}

.actions {
  gap: 6px;

  display: flex;
}

.add-btn {
  background: #1d4ed8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight:600 ;
}

.add-btn:hover {
  background: #1e40af;
}

.publish-btn {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  color: white;
  border: none;
  /* font-weight: 500; */
  cursor: pointer;
  align-items: center;
  justify-content: center;
  /* white-space: nowrap;   */
  font-size: 15px;
  font-weight: 500;
}

.publish-btn.published {
  background-color: rgba(0, 15, 180, 1);
}

.publish-btn.unpublished {
  background-color: rgba(82, 212, 7, 1);
}

.publish-btn:hover {
  opacity: 0.9;
}

p {
  font-weight: 500;
}


/* .product-info{
  justify-content: space-evenly;
} */

